doc/_build
*.tgz
*.pyc
*/*.pyc
*/*/*.pyc
*.swo
*/*.swo
*/*/*.swo
*.swp
*/*.swp
*/*/*.swp
*.swn
*/*.swn
*/*/*.swn
*.swm
*/*.swm
*/*/*.swm
*/*.so
*/*.c
.git
_pycache_
*~
\#*
\#\#
.\#*
build
TMP
dataset/*
